@import "./header.css";
@import "./hamburger.css";
@import "./info.css";
@import "./promotional.css";
@import "./slider.css";
@import "./products.css";
@import "./cart.css";
@import "./checkout.css";
@import "./sample_page.css";
@import "./footer.css";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.product-box {
    display: flex;
    /* flex-wrap: wrap; */
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16em, 1fr)); */
    justify-content: space-around;
    white-space: nowrap;
    /* place-content: center; */
    gap: 1rem;
    padding: 1.5rem;
}

.all-products-div-box,
.free-shipping,
.tech,
.fashion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40vw;
    min-width: 15vw;
    max-height: fit-content;
    gap: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px 3px rgba(65, 64, 64, 0.534);
    font-size: clamp(0.7rem, 1vw, 1rem);
}

.all-products-div-box-container,
.fashion-container,
.tech-container {
    display: grid;
    /* flex-wrap: wrap; */
    place-content: space-around;
    /* justify-content: center; */
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.all-products-div-btn-img-box {
    place-content: center;
    min-width: 100%;
    height: 10em;
    max-height: 10em;
}

.all-products-div-btn-img {
    align-self: center;
    width: 100%;
    max-height: 100%;
}

.free-shipping-img-box {
    width: 100%;
    height: 100%;
}

.free-shipping-img {
    width: 100%;
    height: 100%;
}

.see-more {
    align-self: end normal;
}

@media only screen and (max-width: 600px) {
    .product-box {
        flex-wrap: nowrap;
        overflow: scroll;
        gap: 1rem;
        justify-content: start;
        overflow: scroll;
        width: 100%;
    }

    .product-box::-webkit-scrollbar {
        display: none;
    }

    .all-products-div-box,
    .free-shipping,
    .tech,
    .fashion {
        /* width: 100%; */
        font-size: small;
        white-space: nowrap;
        min-width: 15rem;
    }

    .all-products-div-btn-img-box {
        max-height: 10em;
    }
    
    .all-products-div-btn-img {
        max-height: 100%;
    }
}